body{
    background-color: #fa0079;
    background-image: url("https://www.transparenttextures.com/patterns/my-little-plaid-dark.png");
}

.footer{
    background-color: white;
}

.Right{
    padding: 1%;
}
